// Include le fichier CSS avec: link(rel="stylesheet", href="/style.css")

html
  head
    meta(charset="utf-8")
    title Labo Semantic IA
    figure(src='/img/lo')
    h1 = Intelligence artifiel
    nav
  
  body
    block content
    block foot
