// Include le fichier CSS avec: link(rel="stylesheet", href="/style.css")

html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="/style.css")
        title Labo Semantic AI

    body
        div(id="header")
            div(id="layout_wrapper")
                div(id="layout")
                    p(id="title") Labo Semantic IA
                    p(class="subtitle") Intelligence artificielle
                    p(class="subtitle") Web Sémantique
                img(id="logo" src='./img/logo-coding.png')
            nav
                ul(id="navigation")
                    each pageList in [['Accueil','index.pug'],['Equipe','team.pug'],['Projet','projects.pug'],['Publication','publications.pug']]
                        li(class="page")
                            a(href= pageList[1])= pageList[0]
                    li(id="language_switch")
                        span FR
                        i.fa.fa-caret-down
                    div(id="language_tab")
                        div FR
                        div EN
        div(id="page_container")
            div(id="content-wrap")
                block content

            footer
                div
                     p private site
                     p LOG4420 - Polytechnique Montreal
