mixin publication(publications)
  div
    table
      each publication in publications
        tr
          td
            i(id="delete_icon").fa.fa-trash-o.fa-2x
          td
            p
              = publication.year
              br
              = publication.month 
          td
            p= publication.title
            p= publication.authors
            p(class="small")= publication.venue
        
          
          
    
      
  
