mixin projet(projectList)
    ul
        if projectList.length
            each project in projectList
                div
                    li
                        p
                        =project.student
                        | ,
                        a(href= "project-" + project._id + ".pug")=project.title
                        p
                        | Supervisor:
                        =project.supervisor
                        p
                        | Co-supervisor(s):
                        =project.cosupervisor
        else
            p No publication available
